.create-club-page {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.create-club-card {
  width: 100%;
  max-width: 700px;

  background: white;

  padding: 35px;

  border-radius: 18px;

  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}


.create-club-card h2 {
  color: #ff5733;

  margin-bottom: 10px;

  font-size: 28px;
}

.sub-text {
  color: #666;

  margin-bottom: 25px;

  line-height: 1.6;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;

  margin-bottom: 8px;

  font-weight: 600;

  color: #333;
}

.form-group input {
  width: 100%;

  padding: 12px 14px;

  border: 1px solid #ddd;

  border-radius: 10px;

  outline: none;

  font-size: 15px;
}

.form-group input:focus {
  border-color: #00d4ff;
}

.create-btn {
  width: 100%;

  padding: 14px;

  background: #ff5733;

  color: white;

  border: none;

  border-radius: 10px;

  cursor: pointer;

  font-size: 16px;

  font-weight: 700;

  transition: 0.3s;
}

.create-btn:hover {
  background: #e64a24;
}

@media (max-width: 768px) {

  .create-club-card {
    padding: 22px;
  }

}